{% load static %}
<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" type="text/css" href="{% static 'detection/styles.css' %}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>

<div class="header theme">
    <h3>Workflow Pattern Detection</h3>
</div>

<div class="row">
    <div class="three-quarter">
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="row" style="margin: 10px;">
                <div class="quarter"></div>
                <div class="row half">
                    <div class="third">
                        <button type="submit" name ="workflow" class="theme" onclick="uploadFile();">Workflow Model</button>
                    </div>
                    <div class="third">
                        <button type="submit" name ="bpmn" class="theme" onclick="uploadFile();">BPMN Model</button>
                    </div>
                    <div class="third">
                        <button type="submit" name ="pn" class="theme" onclick="uploadFile();">Petri Net</button>
                    </div>
                </div>
                
                <div class="quarter"></div>
            </div>
        </form>
        <div class="row">
            <div class="container full">
                {% if show_model %}
                {% with 'detection/'|add:model_name|add:'.png' as model_image %}
                <img id="imagemodel" src="{% static model_image %}" class="responsive" alt="Model">
                {% endwith %}
                {% endif %}
                <div id="spinner" style="display: none" class="loader"></div>
            </div>
        </div>
    </div>
    <div class="quarter column container">
        <div class="container">
            <form method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <label class="checkbox theme">Sequence
                    <input id="Sequence" name ="sequence" type="checkbox">
                    <span class="checkmark"></span>
                </label>
                <label class="checkbox theme">Parallel Split (sync)
                    <input id="ParallelSplitSync" name ="parallelsync" type="checkbox">
                    <span class="checkmark"></span>
                </label>
                <label class="checkbox theme">Parallel Split
                    <input id="ParallelSplit" name ="parallel" type="checkbox">
                    <span class="checkmark"></span>
                </label>
                <label class="checkbox theme">Exclusive Choice
                    <input id="ExclusiveChoice" name ="exclusive" type="checkbox">
                    <span class="checkmark"></span>
                </label>
                <label class="checkbox theme">Multi Choice (sync)
                    <input id="MultiChoiceSync" name ="multisync" type="checkbox">
                    <span class="checkmark"></span>
                </label>
                <label class="checkbox theme" >Multi Choice
                    <input id="MultiChoice" name ="multi" type="checkbox">
                    <span class="checkmark"></span>
                </label>
                <label class="checkbox theme last">Loop
                    <input id="Loop" name ="loop" type="checkbox">
                    <span class="checkmark"></span>
                </label>
                <br/>
                <button type="submit" name ="aggregate-pattern" class="theme"><i class="fa fa-filter"></i> Aggregate Pattern</button>
            </form>
            <hr/>
            <form method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="row">
                    <div class="half upload">
                        <label  class="label theme"><i class="fa fa-file"></i> Choose file... 
                            <input id="file-upload" type="file" name="document"/>
                        </label>
                        <label id="file-name"></label>
                    </div>
                    <div class="half">
                        <button type="submit" name ="upload" onclick="uploadFile();" class="theme"><i class="fa fa-upload"></i> Upload file</button>
                    </div>
                    
                </div>
                {% if upload_error %}
                <span style="color: red; font-size: 1.5em;">{{ upload_error }}</span>
                {% endif %}
            </form>
            <div class="row">
                <div class="full">
                    {% with 'detection/'|add:model_name|add:'.png' as model_image %}
                    <a class="theme download" href="{% static model_image %}" download>
                        <i class="fa fa-download"></i> Export Model 
                    </a>
                    {% endwith %}
                </div>
            </div>
        </div>
    </div>
</div>

</body>
<script src="{% static 'detection/script.js' %}"></script>
</html>
