{% extends 'detection/navigation.html' %}
{% load static %}

{% block color_pattern %}
<form method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    {% for pattern in patterns %}
        {% if pattern.pattern_type != "Sequence" %}
        <div class="row">
            <input type="color" id="color-{{ pattern.pattern_node }}" name="color-{{ pattern.pattern_node }}" value="{{ pattern.color }}">
            <div style="flex: 90%">
                <label class="checkbox theme">{{ pattern.pattern_type }} : {{ pattern.pattern_node }} 
                </label>
            </div>
        </div>
        {% endif %}
    {% endfor %}
    <button type="submit" name ="color-pattern" class="theme"><i class="fa fa-paint-brush"></i> Color Pattern</button>
</form>
<hr/>
{% endblock %}

{% block export_json %}
<input type="hidden" id="patternsJson" name="json" value="{{ patterns|safe }}">
<div class="row">
    <div class="full">
        <a id="exportJSON" class="theme download export" href="#" onclick="exportJson(this);">
            <i class="fa fa-download"></i> Export Patterns
        </a>
    </div>
</div>
{% endblock %}

{% block image_model %}
<div class="row">
    <div class="container full" style="text-align: center;">
        <div id="spinner" style="display: none" class="loader"></div>
        {% if show_model %}
        <div id="imagecontainer" style="overflow: hidden; resize: vertical;">
        <img id="imagemodel" src="{% static 'detection/models/workflow.png' %}" class="responsive" alt="Model">
        </div>
        {% endif %}
        {% block content %}
        <h1>Patterns</h1>
        {% if patterns %}
        <table class="table">
            <tr>
                <th>Pattern Type</th>
                <th>Pattern Node</th>
                <th>Incoming Nodes</th>
                <th>Outgoing Nodes</th>
            </tr>
            {% for pattern in patterns %}
            <tr>
                <td>{{ pattern.pattern_type }}</td>
                <td>{{ pattern.pattern_node }}</td>
                <td>{{ pattern.incoming_nodes }}</td>
                <td>{{ pattern.outgoing_nodes }}</td>
            </tr>
            {% endfor %}
        </table>
        {% endif %}
        {% endblock %}
    </div>
</div>
{% endblock %}